.repl_history
build
tags
app/pixate_code.rb
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea
.dat*.*
.bundle
vendor
signing/aps_development.cer
signing/cert.pem
signing/Certificates.p12
signing/pushCert.pem
signing/pushKey.pem
signing/ck.pem
signing/CertificateSigningRequest.certSigningRequest
signing/lazyair.mobileprovision
.env
backup
